@use '../Styles/color' as *;

.job_body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    background-color: white;
    // width: 100%;
    padding: 35px 40px;
    border-radius: 5px;

    gap: 20px;

    .job_position {
        margin: 0;
    }

    ul {
        display: flex;
        gap: 25px;
        padding-left: 0;
        margin: 0;

        li {
            list-style-type: none;
        }
    }

    .job_info {
        display: flex;

        gap: 25px;

        .brand_logo {

            aspect-ratio: 1/1;

            @media screen and (max-width: "768px") {
                position: absolute;
                top: 0;
                left: 40px;
                width: 50px;
                transform: translateY(-50%);

            }

        }

        img {
            aspect-ratio: 1/1;
        }

        .job_description {
            display: flex;
            flex-direction: column;
            gap: 20px;


            .info_chips {
                display: flex;
                gap: 15px;
                align-items: center;


                span {
                    display: flex;
                    margin: 0;

                }

                .company_name {
                    color: $Desaturated-Dark-Cyan;
                    font-weight: bold;
                }

                .chip {
                    border-radius: 50px;
                    color: white;
                    font-size: 12px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 6px 10px;
                    padding-bottom: 4px;
                    margin: 0;
                    cursor: pointer;




                }

                .new {
                    background-color: $Desaturated-Dark-Cyan;
                    display: flex;
                    align-items: center;
                }

                .featured {

                    background-color: $Very-Dark-Grayish-Cyan;
                }

            }

            .job_position {
                color: $Very-Dark-Grayish-Cyan;
                cursor: pointer;
                transition: .2s;

                &:hover {
                    color: $Desaturated-Dark-Cyan;
                }
            }

            .job_position_description {

                li {
                    color: $Dark-Grayish-Cyan;

                }

                li:not(:first-child) {
                    list-style: disc;
                }
            }

        }
    }

    .job_tags {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;
        color: $Desaturated-Dark-Cyan;
        cursor: pointer;



        span {
            background-color: $Light-Grayish-Cyan;
            padding: 10px;
            border-radius: 5px;
            transition: .3s;

            &:hover {
                background-color: $Desaturated-Dark-Cyan ;
                color: white;
            }
        }
    }
}